/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding-top: 50px;
}

h1, h2, h3 {
    color: #333;
}

/* Cabeçalho */
.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header nav ul li a:hover {
    color: #ff6347; /* Cor de destaque */
}

/* Seção Sobre */
.sobre {
    text-align: center;
    padding: 60px 20px;
    background-color: #ffffff;
    margin-top: 80px;
}

.sobre p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

/* Seção de Serviços */
.servicos {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}

.servico {
    margin-bottom: 30px;
}

.servico h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.servico p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.servico:hover {
    background-color: #ff6347;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Galeria */
.galeria {
    padding: 60px 20px;
    text-align: center;
    background-color: #ffffff;
}

.galeria h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.galeria img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.1);
}

/* Formulário de Contato */
.contato {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}

.contato form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.contato input, .contato textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contato button {
    background-color: #28a745;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contato button:hover {
    background-color: #218838;
}

/* Rodapé */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
